<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



username:<span sec:authentication="principal.username"></span>
roles:<span sec:authentication="principal.authorities"></span>


<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/config}">Config Page</a>
    </p>
</div>


<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/system}">System Page</a>
    </p>

</div>


<form name="logoutForm" th:action="@{/logout}" method="post">
<input type="submit" value="sign out">
</form>
</body>
</html>